body {
  background-color: #eafbf3;
  font-family: wicons;
}

.header {
  background-color: #9ad2b2;
  text-align: center;
  color: white;
  font-weight: normal;
}

.picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hello {
  color: #9ad2b2;
  font-family: wicons;
}

.about-me,
.about-me2 {
  font-size: 16px;
  font-weight: 100;
  font-family: wicons;
}

.contact {
  text-align: center;
}

.linkedin-box {
  text-align: center;
  display: block;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.linkedin-logo {
  display: inline-block;
  width: 26px;
  height: auto;
}
